*, html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('background.jpg');
  background-size: 150px;
  background-position: top;
}

h1, h2, h3, p, a {
  color: #FDFDFD;
  text-align: center;
}
.centerbox {
  width: 300px;
  border: 1px solid #FDFDFD;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.avatar img {
  border-radius: 50%;
}

.social {
  margin: 5px auto;
}

.social a i {
  margin: 5px;
}